<PitDefines>
	<All>
	<PitDefine key="Account" value="" />	<!-- FixType=CHAR, FixField=1 -->
	<PitDefine key="AdvId" value="" />	<!-- FixType=CHAR, FixField=2 -->
	<PitDefine key="AdvRefID" value="" />	<!-- FixType=CHAR, FixField=3 -->
	<Pitdefine key="AdvSide" value="" />	<!-- FixType=ENUM::CHAR, FixField=4-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="B" description="BUY" -->
		<!-- ENUMValue="S" description="SELL" -->
		<!-- ENUMValue="T" description="TRADE" -->
		<!-- ENUMValue="X" description="CROSS" -->
	<Pitdefine key="AdvTransType" value="" />	<!-- FixType=ENUM::CHAR, FixField=5-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="C" description="CANCEL" -->
		<!-- ENUMValue="N" description="NEW" -->
		<!-- ENUMValue="R" description="REPLACE" -->
	<PitDefine key="AvgPx" value="" />	<!-- FixType=FLOAT, FixField=6 -->
	<PitDefine key="BeginSeqNo" value="FIX.4.1" />	<!-- FixType=INT, FixField=7 -->
	<PitDefine key="BeginString" value="" />	<!-- FixType=CHAR, FixField=8 -->
	<PitDefine key="BodyLength" value="" />	<!-- FixType=INT, FixField=9 -->
	<PitDefine key="CheckSum" value="" />	<!-- FixType=CHAR, FixField=10 -->
	<PitDefine key="ClOrdID" value="" />	<!-- FixType=CHAR, FixField=11 -->
	<PitDefine key="Commission" value="" />	<!-- FixType=FLOAT, FixField=12 -->
	<Pitdefine key="CommType" value="" />	<!-- FixType=ENUM::CHAR, FixField=13-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="1" description="PER_SHARE" -->
		<!-- ENUMValue="2" description="PERCENTAGE" -->
		<!-- ENUMValue="3" description="ABSOLUTE" -->
	<PitDefine key="CumQty" value="" />	<!-- FixType=INT, FixField=14 -->
	<PitDefine key="Currency" value="" />	<!-- FixType=CHAR, FixField=15 -->
	<PitDefine key="EndSeqNo" value="" />	<!-- FixType=INT, FixField=16 -->
	<PitDefine key="ExecID" value="" />	<!-- FixType=CHAR, FixField=17 -->
	<Pitdefine key="ExecInst" value="" />	<!-- FixType=ENUM::CHAR, FixField=18-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="0" description="STAY_ON_OFFERSIDE" -->
		<!-- ENUMValue="1" description="NOT_HELD" -->
		<!-- ENUMValue="2" description="WORK" -->
		<!-- ENUMValue="3" description="GO_ALONG" -->
		<!-- ENUMValue="4" description="OVER_THE_DAY" -->
		<!-- ENUMValue="5" description="HELD" -->
		<!-- ENUMValue="6" description="PARTICIPATE_DONT_INITIATE" -->
		<!-- ENUMValue="7" description="STRICT_SCALE" -->
		<!-- ENUMValue="8" description="TRY_TO_SCALE" -->
		<!-- ENUMValue="9" description="STAY_ON_BIDSIDE" -->
		<!-- ENUMValue="A" description="NO_CROSS" -->
		<!-- ENUMValue="B" description="OK_TO_CROSS" -->
		<!-- ENUMValue="C" description="CALL_FIRST" -->
		<!-- ENUMValue="D" description="PERCENT_OF_VOLUME" -->
		<!-- ENUMValue="E" description="DO_NOT_INCREASE" -->
		<!-- ENUMValue="F" description="DO_NOT_REDUCE" -->
		<!-- ENUMValue="G" description="ALL_OR_NONE" -->
		<!-- ENUMValue="I" description="INSTITUTIONS_ONLY" -->
		<!-- ENUMValue="L" description="LAST_PEG" -->
		<!-- ENUMValue="M" description="MID_PRICE_PEG" -->
		<!-- ENUMValue="N" description="NON_NEGOTIABLE" -->
		<!-- ENUMValue="O" description="OPENING_PEG" -->
		<!-- ENUMValue="P" description="MARKET_PEG" -->
		<!-- ENUMValue="R" description="PRIMARY_PEG" -->
		<!-- ENUMValue="S" description="SUSPEND" -->
		<!-- ENUMValue="U" description="CUSTOMER_DISPLAY_INSTRUCTION" -->
		<!-- ENUMValue="V" description="NETTING" -->
	<PitDefine key="ExecRefID" value="" />	<!-- FixType=CHAR, FixField=19 -->
	<Pitdefine key="ExecTransType" value="" />	<!-- FixType=ENUM::CHAR, FixField=20-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="0" description="NEW" -->
		<!-- ENUMValue="1" description="CANCEL" -->
		<!-- ENUMValue="2" description="CORRECT" -->
		<!-- ENUMValue="3" description="STATUS" -->
	<Pitdefine key="HandlInst" value="" />	<!-- FixType=ENUM::CHAR, FixField=21-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="1" description="AUTOMATED_EXECUTION_ORDER_PRIVATE_NO_BROKER_INTERVENTION" -->
		<!-- ENUMValue="2" description="AUTOMATED_EXECUTION_ORDER_PUBLIC_BROKER_INTERVENTION_OK" -->
		<!-- ENUMValue="3" description="MANUAL_ORDER_BEST_EXECUTION" -->
	<Pitdefine key="IDSource" value="" />	<!-- FixType=ENUM::CHAR, FixField=22-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="1" description="CUSIP" -->
		<!-- ENUMValue="2" description="SEDOL" -->
		<!-- ENUMValue="3" description="QUIK" -->
		<!-- ENUMValue="4" description="ISIN_NUMBER" -->
		<!-- ENUMValue="5" description="RIC_CODE" -->
		<!-- ENUMValue="6" description="ISO_CURRENCY_CODE" -->
		<!-- ENUMValue="7" description="ISO_COUNTRY_CODE" -->
	<PitDefine key="IOIid" value="" />	<!-- FixType=CHAR, FixField=23 -->
	<Pitdefine key="IOIOthSvc" value="" />	<!-- FixType=ENUM::CHAR, FixField=24-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="A" description="AUTEX" -->
		<!-- ENUMValue="B" description="BRIDGE" -->
	<Pitdefine key="IOIQltyInd" value="" />	<!-- FixType=ENUM::CHAR, FixField=25-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="H" description="HIGH" -->
		<!-- ENUMValue="L" description="LOW" -->
		<!-- ENUMValue="M" description="MEDIUM" -->
	<PitDefine key="IOIRefID" value="" />	<!-- FixType=CHAR, FixField=26 -->
	<Pitdefine key="IOIShares" value="" />	<!-- FixType=ENUM::CHAR, FixField=27-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="L" description="LARGE" -->
		<!-- ENUMValue="M" description="MEDIUM" -->
		<!-- ENUMValue="S" description="SMALL" -->
	<Pitdefine key="IOITransType" value="" />	<!-- FixType=ENUM::CHAR, FixField=28-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="C" description="CANCEL" -->
		<!-- ENUMValue="N" description="NEW" -->
		<!-- ENUMValue="R" description="REPLACE" -->
	<Pitdefine key="LastCapacity" value="" />	<!-- FixType=ENUM::CHAR, FixField=29-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="1" description="AGENT" -->
		<!-- ENUMValue="2" description="CROSS_AS_AGENT" -->
		<!-- ENUMValue="3" description="CROSS_AS_PRINCIPAL" -->
		<!-- ENUMValue="4" description="PRINCIPAL" -->
	<PitDefine key="LastMkt" value="" />	<!-- FixType=CHAR, FixField=30 -->
	<PitDefine key="LastPx" value="" />	<!-- FixType=FLOAT, FixField=31 -->
	<PitDefine key="LastShares" value="" />	<!-- FixType=INT, FixField=32 -->
	<PitDefine key="LinesOfText" value="" />	<!-- FixType=INT, FixField=33 -->
	<PitDefine key="MsgSeqNum" value="" />	<!-- FixType=INT, FixField=34 -->
	<Pitdefine key="MsgType" value="" />	<!-- FixType=ENUM::CHAR, FixField=35-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="0" description="HEARTBEAT" -->
		<!-- ENUMValue="1" description="TEST_REQUEST" -->
		<!-- ENUMValue="2" description="RESEND_REQUEST" -->
		<!-- ENUMValue="3" description="REJECT" -->
		<!-- ENUMValue="4" description="SEQUENCE_RESET" -->
		<!-- ENUMValue="5" description="LOGOUT" -->
		<!-- ENUMValue="6" description="INDICATION_OF_INTEREST" -->
		<!-- ENUMValue="7" description="ADVERTISEMENT" -->
		<!-- ENUMValue="8" description="EXECUTION_REPORT" -->
		<!-- ENUMValue="9" description="ORDER_CANCEL_REJECT" -->
		<!-- ENUMValue="A" description="LOGON" -->
		<!-- ENUMValue="B" description="NEWS" -->
		<!-- ENUMValue="C" description="EMAIL" -->
		<!-- ENUMValue="D" description="ORDER_D" -->
		<!-- ENUMValue="E" description="ORDER_E" -->
		<!-- ENUMValue="F" description="ORDER_CANCEL_REQUEST" -->
		<!-- ENUMValue="G" description="ORDER_CANCEL_REPLACE_REQUEST" -->
		<!-- ENUMValue="H" description="ORDER_STATUS_REQUEST" -->
		<!-- ENUMValue="J" description="ALLOCATION" -->
		<!-- ENUMValue="K" description="LIST_CANCEL_REQUEST" -->
		<!-- ENUMValue="L" description="LIST_EXECUTE" -->
		<!-- ENUMValue="M" description="LIST_STATUS_REQUEST" -->
		<!-- ENUMValue="N" description="LIST_STATUS" -->
		<!-- ENUMValue="P" description="ALLOCATION_ACK" -->
		<!-- ENUMValue="Q" description="DONT_KNOW_TRADE" -->
		<!-- ENUMValue="R" description="QUOTE_REQUEST" -->
		<!-- ENUMValue="S" description="QUOTE" -->
		<!-- ENUMValue="T" description="SETTLEMENT_INSTRUCTIONS" -->
	<PitDefine key="NewSeqNo" value="" />	<!-- FixType=INT, FixField=36 -->
	<PitDefine key="OrderID" value="" />	<!-- FixType=CHAR, FixField=37 -->
	<PitDefine key="OrderQty" value="" />	<!-- FixType=INT, FixField=38 -->
	<Pitdefine key="OrdStatus" value="" />	<!-- FixType=ENUM::CHAR, FixField=39-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="0" description="NEW" -->
		<!-- ENUMValue="1" description="PARTIALLY_FILLED" -->
		<!-- ENUMValue="2" description="FILLED" -->
		<!-- ENUMValue="3" description="DONE_FOR_DAY" -->
		<!-- ENUMValue="4" description="CANCELED" -->
		<!-- ENUMValue="5" description="REPLACED" -->
		<!-- ENUMValue="6" description="PENDING_CANCEL_REPLACE" -->
		<!-- ENUMValue="7" description="STOPPED" -->
		<!-- ENUMValue="8" description="REJECTED" -->
		<!-- ENUMValue="9" description="SUSPENDED" -->
		<!-- ENUMValue="A" description="PENDING_NEW" -->
		<!-- ENUMValue="B" description="CALCULATED" -->
		<!-- ENUMValue="C" description="EXPIRED" -->
	<Pitdefine key="OrdType" value="" />	<!-- FixType=ENUM::CHAR, FixField=40-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="1" description="MARKET" -->
		<!-- ENUMValue="2" description="LIMIT" -->
		<!-- ENUMValue="3" description="STOP" -->
		<!-- ENUMValue="4" description="STOP_LIMIT" -->
		<!-- ENUMValue="5" description="MARKET_ON_CLOSE" -->
		<!-- ENUMValue="6" description="WITH_OR_WITHOUT" -->
		<!-- ENUMValue="7" description="LIMIT_OR_BETTER" -->
		<!-- ENUMValue="8" description="LIMIT_WITH_OR_WITHOUT" -->
		<!-- ENUMValue="9" description="ON_BASIS" -->
		<!-- ENUMValue="A" description="ON_CLOSE" -->
		<!-- ENUMValue="B" description="LIMIT_ON_CLOSE" -->
		<!-- ENUMValue="C" description="FOREX_C" -->
		<!-- ENUMValue="D" description="PREVIOUSLY_QUOTED" -->
		<!-- ENUMValue="E" description="PREVIOUSLY_INDICATED" -->
		<!-- ENUMValue="F" description="FOREX_F" -->
		<!-- ENUMValue="G" description="FOREX_G" -->
		<!-- ENUMValue="H" description="FOREX_H" -->
		<!-- ENUMValue="P" description="PEGGED" -->
	<PitDefine key="OrigClOrdID" value="" />	<!-- FixType=CHAR, FixField=41 -->
	<PitDefine key="OrigTime" value="" />	<!-- FixType=TIME, FixField=42 -->
<!-- Time-only represented in UTC (Universal Time Coordinated, also known as "GMT") in either HH:MM:SS (whole seconds) or HH:MM:SS.sss (milliseconds) format, colons, and period required. This special-purpose field is paired with UTCDateOnly to form a proper UTCTimestamp for bandwidth-sensitive messages. Valid values: HH = 00-23, MM = 00-59, SS = 00-5960 (60 only if UTC leap second) (without milliseconds). HH = 00-23, MM = 00-59, SS = 00-5960 (60 only if UTC leap second), sss=000-999 (indicating milliseconds).-->
	<Pitdefine key="PossDupFlag" value="" />	<!-- FixType=ENUM::CHAR, FixField=43-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="N" description="NO" -->
		<!-- ENUMValue="Y" description="YES" -->
	<PitDefine key="Price" value="" />	<!-- FixType=FLOAT, FixField=44 -->
	<PitDefine key="RefSeqNum" value="" />	<!-- FixType=INT, FixField=45 -->
	<PitDefine key="RelatdSym" value="" />	<!-- FixType=CHAR, FixField=46 -->
	<Pitdefine key="Rule80A" value="" />	<!-- FixType=ENUM::CHAR, FixField=47-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="A" description="AGENCY_SINGLE_ORDER" -->
		<!-- ENUMValue="B" description="SHORT_EXEMPT_TRANSACTION_B" -->
		<!-- ENUMValue="C" description="PROGRAM_ORDER_NON_INDEX_ARB_FOR_MEMBER_FIRM_ORG" -->
		<!-- ENUMValue="D" description="PROGRAM_ORDER_INDEX_ARB_FOR_MEMBER_FIRM_ORG" -->
		<!-- ENUMValue="E" description="REGISTERED_EQUITY_MARKET_MAKER_TRADES" -->
		<!-- ENUMValue="F" description="SHORT_EXEMPT_TRANSACTION_F" -->
		<!-- ENUMValue="H" description="SHORT_EXEMPT_TRANSACTION_H" -->
		<!-- ENUMValue="I" description="INDIVIDUAL_INVESTOR_SINGLE_ORDER" -->
		<!-- ENUMValue="J" description="PROGRAM_ORDER_INDEX_ARB_FOR_INDIVIDUAL_CUSTOMER" -->
		<!-- ENUMValue="K" description="PROGRAM_ORDER_NON_INDEX_ARB_FOR_INDIVIDUAL_CUSTOMER" -->
		<!-- ENUMValue="L" description="SHORT_EXEMPT_TRANSACTION_FOR_MEMBER_COMPETING_MARKET_MAKER_AFFILIATED_WITH_THE_FIRM_CLEARING_THE_TRADE" -->
		<!-- ENUMValue="M" description="PROGRAM_ORDER_INDEX_ARB_FOR_OTHER_MEMBER" -->
		<!-- ENUMValue="N" description="PROGRAM_ORDER_NON_INDEX_ARB_FOR_OTHER_MEMBER" -->
		<!-- ENUMValue="O" description="COMPETING_DEALER_TRADES_O" -->
		<!-- ENUMValue="P" description="PRINCIPAL" -->
		<!-- ENUMValue="R" description="COMPETING_DEALER_TRADES_R" -->
		<!-- ENUMValue="S" description="SPECIALIST_TRADES" -->
		<!-- ENUMValue="T" description="COMPETING_DEALER_TRADES_T" -->
		<!-- ENUMValue="U" description="PROGRAM_ORDER_INDEX_ARB_FOR_OTHER_AGENCY" -->
		<!-- ENUMValue="W" description="ALL_OTHER_ORDERS_AS_AGENT_FOR_OTHER_MEMBER" -->
		<!-- ENUMValue="X" description="SHORT_EXEMPT_TRANSACTION_FOR_MEMBER_COMPETING_MARKET_MAKER_NOT_AFFILIATED_WITH_THE_FIRM_CLEARING_THE_TRADE" -->
		<!-- ENUMValue="Y" description="PROGRAM_ORDER_NON_INDEX_ARB_FOR_OTHER_AGENCY" -->
		<!-- ENUMValue="Z" description="SHORT_EXEMPT_TRANSACTION_FOR_NON_MEMBER_COMPETING_MARKET_MAKER" -->
	<PitDefine key="SecurityID" value="" />	<!-- FixType=CHAR, FixField=48 -->
	<PitDefine key="SenderCompID" value="" />	<!-- FixType=CHAR, FixField=49 -->
	<PitDefine key="SenderSubID" value="" />	<!-- FixType=CHAR, FixField=50 -->
	<PitDefine key="SendingTime" value="" />	<!-- FixType=TIME, FixField=52 -->
<!-- Time-only represented in UTC (Universal Time Coordinated, also known as "GMT") in either HH:MM:SS (whole seconds) or HH:MM:SS.sss (milliseconds) format, colons, and period required. This special-purpose field is paired with UTCDateOnly to form a proper UTCTimestamp for bandwidth-sensitive messages. Valid values: HH = 00-23, MM = 00-59, SS = 00-5960 (60 only if UTC leap second) (without milliseconds). HH = 00-23, MM = 00-59, SS = 00-5960 (60 only if UTC leap second), sss=000-999 (indicating milliseconds).-->
	<PitDefine key="Shares" value="" />	<!-- FixType=INT, FixField=53 -->
	<Pitdefine key="Side" value="" />	<!-- FixType=ENUM::CHAR, FixField=54-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="1" description="BUY" -->
		<!-- ENUMValue="2" description="SELL" -->
		<!-- ENUMValue="3" description="BUY_MINUS" -->
		<!-- ENUMValue="4" description="SELL_PLUS" -->
		<!-- ENUMValue="5" description="SELL_SHORT" -->
		<!-- ENUMValue="6" description="SELL_SHORT_EXEMPT" -->
		<!-- ENUMValue="7" description="UNDISCLOSED" -->
		<!-- ENUMValue="8" description="CROSS" -->
	<PitDefine key="Symbol" value="" />	<!-- FixType=CHAR, FixField=55 -->
	<PitDefine key="TargetCompID" value="" />	<!-- FixType=CHAR, FixField=56 -->
	<PitDefine key="TargetSubID" value="" />	<!-- FixType=CHAR, FixField=57 -->
	<PitDefine key="Text" value="" />	<!-- FixType=CHAR, FixField=58 -->
	<Pitdefine key="TimeInForce" value="" />	<!-- FixType=ENUM::CHAR, FixField=59-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="0" description="DAY" -->
		<!-- ENUMValue="1" description="GOOD_TILL_CANCEL" -->
		<!-- ENUMValue="2" description="AT_THE_OPENING" -->
		<!-- ENUMValue="3" description="IMMEDIATE_OR_CANCEL" -->
		<!-- ENUMValue="4" description="FILL_OR_KILL" -->
		<!-- ENUMValue="5" description="GOOD_TILL_CROSSING" -->
		<!-- ENUMValue="6" description="GOOD_TILL_DATE" -->
	<PitDefine key="TransactTime" value="" />	<!-- FixType=TIME, FixField=60 -->
<!-- Time-only represented in UTC (Universal Time Coordinated, also known as "GMT") in either HH:MM:SS (whole seconds) or HH:MM:SS.sss (milliseconds) format, colons, and period required. This special-purpose field is paired with UTCDateOnly to form a proper UTCTimestamp for bandwidth-sensitive messages. Valid values: HH = 00-23, MM = 00-59, SS = 00-5960 (60 only if UTC leap second) (without milliseconds). HH = 00-23, MM = 00-59, SS = 00-5960 (60 only if UTC leap second), sss=000-999 (indicating milliseconds).-->
	<Pitdefine key="Urgency" value="" />	<!-- FixType=ENUM::CHAR, FixField=61-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="0" description="NORMAL" -->
		<!-- ENUMValue="1" description="FLASH" -->
		<!-- ENUMValue="2" description="BACKGROUND" -->
	<PitDefine key="ValidUntilTime" value="" />	<!-- FixType=TIME, FixField=62 -->
<!-- Time-only represented in UTC (Universal Time Coordinated, also known as "GMT") in either HH:MM:SS (whole seconds) or HH:MM:SS.sss (milliseconds) format, colons, and period required. This special-purpose field is paired with UTCDateOnly to form a proper UTCTimestamp for bandwidth-sensitive messages. Valid values: HH = 00-23, MM = 00-59, SS = 00-5960 (60 only if UTC leap second) (without milliseconds). HH = 00-23, MM = 00-59, SS = 00-5960 (60 only if UTC leap second), sss=000-999 (indicating milliseconds).-->
	<Pitdefine key="SettlmntTyp" value="" />	<!-- FixType=ENUM::CHAR, FixField=63-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="0" description="REGULAR" -->
		<!-- ENUMValue="1" description="CASH" -->
		<!-- ENUMValue="2" description="NEXT_DAY" -->
		<!-- ENUMValue="3" description="T_PLUS_2" -->
		<!-- ENUMValue="4" description="T_PLUS_3" -->
		<!-- ENUMValue="5" description="T_PLUS_4" -->
		<!-- ENUMValue="6" description="FUTURE" -->
		<!-- ENUMValue="7" description="WHEN_ISSUED" -->
		<!-- ENUMValue="8" description="SELLERS_OPTION" -->
		<!-- ENUMValue="9" description="T_PLUS_5" -->
	<PitDefine key="FutSettDate" value="" />	<!-- FixType=DATE, FixField=64 -->
<!-- Date represented in UTC (Universal Time Coordinated, also known as "GMT") in YYYYMMDD format. This special-purpose field is paired with UTCTimeOnly to form a proper UTCTimestamp for bandwidth-sensitive messages. Valid values: YYYY = 0000-9999, MM = 01-12, DD = 01-31.-->
	<PitDefine key="SymbolSfx" value="" />	<!-- FixType=CHAR, FixField=65 -->
	<PitDefine key="ListID" value="" />	<!-- FixType=CHAR, FixField=66 -->
	<PitDefine key="ListSeqNo" value="" />	<!-- FixType=INT, FixField=67 -->
	<PitDefine key="ListNoOrds" value="" />	<!-- FixType=INT, FixField=68 -->
	<PitDefine key="ListExecInst" value="" />	<!-- FixType=CHAR, FixField=69 -->
	<PitDefine key="AllocID" value="" />	<!-- FixType=CHAR, FixField=70 -->
	<Pitdefine key="AllocTransType" value="" />	<!-- FixType=ENUM::CHAR, FixField=71-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="0" description="NEW" -->
		<!-- ENUMValue="1" description="REPLACE" -->
		<!-- ENUMValue="2" description="CANCEL" -->
		<!-- ENUMValue="3" description="PRELIMINARY" -->
		<!-- ENUMValue="4" description="CALCULATED" -->
	<PitDefine key="RefAllocID" value="" />	<!-- FixType=CHAR, FixField=72 -->
	<PitDefine key="NoOrders" value="" />	<!-- FixType=INT, FixField=73 -->
	<PitDefine key="AvgPrxPrecision" value="" />	<!-- FixType=INT, FixField=74 -->
	<PitDefine key="TradeDate" value="" />	<!-- FixType=DATE, FixField=75 -->
<!-- Date represented in UTC (Universal Time Coordinated, also known as "GMT") in YYYYMMDD format. This special-purpose field is paired with UTCTimeOnly to form a proper UTCTimestamp for bandwidth-sensitive messages. Valid values: YYYY = 0000-9999, MM = 01-12, DD = 01-31.-->
	<PitDefine key="ExecBroker" value="" />	<!-- FixType=CHAR, FixField=76 -->
	<Pitdefine key="OpenClose" value="" />	<!-- FixType=ENUM::CHAR, FixField=77-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="C" description="CLOSE" -->
		<!-- ENUMValue="O" description="OPEN" -->
	<PitDefine key="NoAllocs" value="" />	<!-- FixType=INT, FixField=78 -->
	<PitDefine key="AllocAccount" value="" />	<!-- FixType=CHAR, FixField=79 -->
	<PitDefine key="AllocShares" value="" />	<!-- FixType=INT, FixField=80 -->
	<Pitdefine key="ProcessCode" value="" />	<!-- FixType=ENUM::CHAR, FixField=81-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="0" description="REGULAR" -->
		<!-- ENUMValue="1" description="SOFT_DOLLAR" -->
		<!-- ENUMValue="2" description="STEP_IN" -->
		<!-- ENUMValue="3" description="STEP_OUT" -->
		<!-- ENUMValue="4" description="SOFT_DOLLAR_STEP_IN" -->
		<!-- ENUMValue="5" description="SOFT_DOLLAR_STEP_OUT" -->
		<!-- ENUMValue="6" description="PLAN_SPONSOR" -->
	<PitDefine key="NoRpts" value="" />	<!-- FixType=INT, FixField=82 -->
	<PitDefine key="RptSeq" value="" />	<!-- FixType=INT, FixField=83 -->
	<PitDefine key="CxlQty" value="" />	<!-- FixType=INT, FixField=84 -->
	<Pitdefine key="AllocStatus" value="" />	<!-- FixType=ENUM::INT, FixField=87-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="0" description="ACCEPTED" -->
		<!-- ENUMValue="1" description="REJECTED" -->
		<!-- ENUMValue="2" description="PARTIAL_ACCEPT" -->
		<!-- ENUMValue="3" description="RECEIVED" -->
	<Pitdefine key="AllocRejCode" value="" />	<!-- FixType=ENUM::INT, FixField=88-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="0" description="UNKNOWN_ACCOUNT" -->
		<!-- ENUMValue="1" description="INCORRECT_QUANTITY" -->
		<!-- ENUMValue="2" description="INCORRECT_AVERAGE_PRICE" -->
		<!-- ENUMValue="3" description="UNKNOWN_EXECUTING_BROKER_MNEMONIC" -->
		<!-- ENUMValue="4" description="COMMISSION_DIFFERENCE" -->
		<!-- ENUMValue="5" description="UNKNOWN_ORDERID" -->
		<!-- ENUMValue="6" description="UNKNOWN_LISTID" -->
		<!-- ENUMValue="7" description="OTHER" -->
	<PitDefine key="Signature" value="" />	<!-- FixType=DATA, FixField=89 -->
<!-- Raw data with no format or content restrictions. Data fields are always immediately preceded by a length field. The length field should specify the number of bytes of the value of the data field (up to but not including the terminating SOH). Caution: the value of one of these fields may contain the delimiter (SOH) character. Note that the value specified for this field should be followed by the delimiter (SOH) character as all fields are terminated with an "SOH".-->
<!--	<PitDefine key="SecureDataLen" value="" />-->	<!-- FixType=LENGTH, FixField=90 -->
	<PitDefine key="SecureData" value="" />	<!-- FixType=DATA, FixField=91 -->
<!-- Raw data with no format or content restrictions. Data fields are always immediately preceded by a length field. The length field should specify the number of bytes of the value of the data field (up to but not including the terminating SOH). Caution: the value of one of these fields may contain the delimiter (SOH) character. Note that the value specified for this field should be followed by the delimiter (SOH) character as all fields are terminated with an "SOH".-->
	<PitDefine key="BrokerOfCredit" value="" />	<!-- FixType=CHAR, FixField=92 -->
<!--	<PitDefine key="SignatureLength" value="" />-->	<!-- FixType=LENGTH, FixField=93 -->
	<Pitdefine key="EmailType" value="" />	<!-- FixType=ENUM::CHAR, FixField=94-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="0" description="NEW" -->
		<!-- ENUMValue="1" description="REPLY" -->
		<!-- ENUMValue="2" description="ADMIN_REPLY" -->
<!--	<PitDefine key="RawDataLength" value="" />-->	<!-- FixType=LENGTH, FixField=95 -->
	<PitDefine key="RawData" value="" />	<!-- FixType=DATA, FixField=96 -->
<!-- Raw data with no format or content restrictions. Data fields are always immediately preceded by a length field. The length field should specify the number of bytes of the value of the data field (up to but not including the terminating SOH). Caution: the value of one of these fields may contain the delimiter (SOH) character. Note that the value specified for this field should be followed by the delimiter (SOH) character as all fields are terminated with an "SOH".-->
	<Pitdefine key="PossResend" value="" />	<!-- FixType=ENUM::CHAR, FixField=97-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="N" description="NO" -->
		<!-- ENUMValue="Y" description="YES" -->
	<Pitdefine key="EncryptMethod" value="" />	<!-- FixType=ENUM::INT, FixField=98-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="0" description="NONE" -->
		<!-- ENUMValue="1" description="PKCS" -->
		<!-- ENUMValue="2" description="DES" -->
		<!-- ENUMValue="3" description="PKCS_DES" -->
		<!-- ENUMValue="4" description="PGP_DES" -->
		<!-- ENUMValue="5" description="PGP_DES_MD5" -->
		<!-- ENUMValue="6" description="PEM_DES_MD5" -->
	<PitDefine key="StopPx" value="" />	<!-- FixType=FLOAT, FixField=99 -->
	<PitDefine key="ExDestination" value="" />	<!-- FixType=CHAR, FixField=100 -->
	<Pitdefine key="CxlRejReason" value="" />	<!-- FixType=ENUM::INT, FixField=102-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="0" description="TOO_LATE_TO_CANCEL" -->
		<!-- ENUMValue="1" description="UNKNOWN_ORDER" -->
	<Pitdefine key="OrdRejReason" value="" />	<!-- FixType=ENUM::INT, FixField=103-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="0" description="BROKER_OPTION" -->
		<!-- ENUMValue="1" description="UNKNOWN_SYMBOL" -->
		<!-- ENUMValue="2" description="EXCHANGE_CLOSED" -->
		<!-- ENUMValue="3" description="ORDER_EXCEEDS_LIMIT" -->
		<!-- ENUMValue="4" description="TOO_LATE_TO_ENTER" -->
		<!-- ENUMValue="5" description="UNKNOWN_ORDER" -->
		<!-- ENUMValue="6" description="DUPLICATE_ORDER" -->
	<Pitdefine key="IOIQualifier" value="" />	<!-- FixType=ENUM::CHAR, FixField=104-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="A" description="ALL_OR_NONE" -->
		<!-- ENUMValue="C" description="AT_THE_CLOSE" -->
		<!-- ENUMValue="I" description="IN_TOUCH_WITH" -->
		<!-- ENUMValue="L" description="LIMIT" -->
		<!-- ENUMValue="M" description="MORE_BEHIND" -->
		<!-- ENUMValue="O" description="AT_THE_OPEN" -->
		<!-- ENUMValue="P" description="TAKING_A_POSITION" -->
		<!-- ENUMValue="Q" description="AT_THE_MARKET" -->
		<!-- ENUMValue="S" description="PORTFOLIO_SHOW_N" -->
		<!-- ENUMValue="T" description="THROUGH_THE_DAY" -->
		<!-- ENUMValue="V" description="VERSUS" -->
		<!-- ENUMValue="W" description="INDICATION" -->
		<!-- ENUMValue="X" description="CROSSING_OPPORTUNITY" -->
		<!-- ENUMValue="Y" description="AT_THE_MIDPOINT" -->
		<!-- ENUMValue="Z" description="PRE_OPEN" -->
	<PitDefine key="WaveNo" value="" />	<!-- FixType=CHAR, FixField=105 -->
	<PitDefine key="Issuer" value="" />	<!-- FixType=CHAR, FixField=106 -->
	<PitDefine key="SecurityDesc" value="" />	<!-- FixType=CHAR, FixField=107 -->
	<PitDefine key="HeartBtInt" value="" />	<!-- FixType=INT, FixField=108 -->
	<PitDefine key="ClientID" value="" />	<!-- FixType=CHAR, FixField=109 -->
	<PitDefine key="MinQty" value="" />	<!-- FixType=INT, FixField=110 -->
	<PitDefine key="MaxFloor" value="" />	<!-- FixType=INT, FixField=111 -->
	<PitDefine key="TestReqID" value="" />	<!-- FixType=CHAR, FixField=112 -->
	<Pitdefine key="ReportToExch" value="" />	<!-- FixType=ENUM::CHAR, FixField=113-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="N" description="NO" -->
		<!-- ENUMValue="Y" description="YES" -->
	<Pitdefine key="LocateReqd" value="" />	<!-- FixType=ENUM::CHAR, FixField=114-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="N" description="NO" -->
		<!-- ENUMValue="Y" description="YES" -->
	<PitDefine key="OnBehalfOfCompID" value="" />	<!-- FixType=CHAR, FixField=115 -->
	<PitDefine key="OnBehalfOfSubID" value="" />	<!-- FixType=CHAR, FixField=116 -->
	<PitDefine key="QuoteID" value="" />	<!-- FixType=CHAR, FixField=117 -->
	<PitDefine key="NetMoney" value="" />	<!-- FixType=FLOAT, FixField=118 -->
	<PitDefine key="SettlCurrAmt" value="" />	<!-- FixType=FLOAT, FixField=119 -->
	<PitDefine key="SettlCurrency" value="" />	<!-- FixType=CHAR, FixField=120 -->
	<Pitdefine key="ForexReq" value="" />	<!-- FixType=ENUM::CHAR, FixField=121-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="N" description="NO" -->
		<!-- ENUMValue="Y" description="YES" -->
	<PitDefine key="OrigSendingTime" value="" />	<!-- FixType=TIME, FixField=122 -->
<!-- Time-only represented in UTC (Universal Time Coordinated, also known as "GMT") in either HH:MM:SS (whole seconds) or HH:MM:SS.sss (milliseconds) format, colons, and period required. This special-purpose field is paired with UTCDateOnly to form a proper UTCTimestamp for bandwidth-sensitive messages. Valid values: HH = 00-23, MM = 00-59, SS = 00-5960 (60 only if UTC leap second) (without milliseconds). HH = 00-23, MM = 00-59, SS = 00-5960 (60 only if UTC leap second), sss=000-999 (indicating milliseconds).-->
	<Pitdefine key="GapFillFlag" value="" />	<!-- FixType=ENUM::CHAR, FixField=123-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="N" description="NO" -->
		<!-- ENUMValue="Y" description="YES" -->
	<PitDefine key="NoExecs" value="" />	<!-- FixType=INT, FixField=124 -->
	<PitDefine key="ExpireTime" value="" />	<!-- FixType=TIME, FixField=126 -->
<!-- Time-only represented in UTC (Universal Time Coordinated, also known as "GMT") in either HH:MM:SS (whole seconds) or HH:MM:SS.sss (milliseconds) format, colons, and period required. This special-purpose field is paired with UTCDateOnly to form a proper UTCTimestamp for bandwidth-sensitive messages. Valid values: HH = 00-23, MM = 00-59, SS = 00-5960 (60 only if UTC leap second) (without milliseconds). HH = 00-23, MM = 00-59, SS = 00-5960 (60 only if UTC leap second), sss=000-999 (indicating milliseconds).-->
	<Pitdefine key="DKReason" value="" />	<!-- FixType=ENUM::CHAR, FixField=127-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="A" description="UNKNOWN_SYMBOL" -->
		<!-- ENUMValue="B" description="WRONG_SIDE" -->
		<!-- ENUMValue="C" description="QUANTITY_EXCEEDS_ORDER" -->
		<!-- ENUMValue="D" description="NO_MATCHING_ORDER" -->
		<!-- ENUMValue="E" description="PRICE_EXCEEDS_LIMIT" -->
		<!-- ENUMValue="Z" description="OTHER" -->
	<PitDefine key="DeliverToCompID" value="" />	<!-- FixType=CHAR, FixField=128 -->
	<PitDefine key="DeliverToSubID" value="" />	<!-- FixType=CHAR, FixField=129 -->
	<Pitdefine key="IOINaturalFlag" value="" />	<!-- FixType=ENUM::CHAR, FixField=130-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="N" description="NO" -->
		<!-- ENUMValue="Y" description="YES" -->
	<PitDefine key="QuoteReqID" value="" />	<!-- FixType=CHAR, FixField=131 -->
	<PitDefine key="BidPx" value="" />	<!-- FixType=FLOAT, FixField=132 -->
	<PitDefine key="OfferPx" value="" />	<!-- FixType=FLOAT, FixField=133 -->
	<PitDefine key="BidSize" value="" />	<!-- FixType=INT, FixField=134 -->
	<PitDefine key="OfferSize" value="" />	<!-- FixType=INT, FixField=135 -->
	<PitDefine key="NoMiscFees" value="" />	<!-- FixType=INT, FixField=136 -->
	<PitDefine key="MiscFeeAmt" value="" />	<!-- FixType=FLOAT, FixField=137 -->
	<PitDefine key="MiscFeeCurr" value="" />	<!-- FixType=CHAR, FixField=138 -->
	<Pitdefine key="MiscFeeType" value="" />	<!-- FixType=ENUM::CHAR, FixField=139-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="1" description="REGULATORY" -->
		<!-- ENUMValue="2" description="TAX" -->
		<!-- ENUMValue="3" description="LOCAL_COMMISSION" -->
		<!-- ENUMValue="4" description="EXCHANGE_FEES" -->
		<!-- ENUMValue="5" description="STAMP" -->
		<!-- ENUMValue="6" description="LEVY" -->
		<!-- ENUMValue="7" description="OTHER" -->
		<!-- ENUMValue="8" description="MARKUP" -->
	<PitDefine key="PrevClosePx" value="" />	<!-- FixType=FLOAT, FixField=140 -->
	<Pitdefine key="ResetSeqNumFlag" value="" />	<!-- FixType=ENUM::CHAR, FixField=141-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="N" description="NO" -->
		<!-- ENUMValue="Y" description="YES" -->
	<PitDefine key="SenderLocationID" value="" />	<!-- FixType=CHAR, FixField=142 -->
	<PitDefine key="TargetLocationID" value="" />	<!-- FixType=CHAR, FixField=143 -->
	<PitDefine key="OnBehalfOfLocationID" value="" />	<!-- FixType=CHAR, FixField=144 -->
	<PitDefine key="DeliverToLocationID" value="" />	<!-- FixType=CHAR, FixField=145 -->
	<PitDefine key="NoRelatedSym" value="" />	<!-- FixType=INT, FixField=146 -->
	<PitDefine key="Subject" value="" />	<!-- FixType=CHAR, FixField=147 -->
	<PitDefine key="Headline" value="" />	<!-- FixType=CHAR, FixField=148 -->
	<PitDefine key="URLLink" value="" />	<!-- FixType=CHAR, FixField=149 -->
	<Pitdefine key="ExecType" value="" />	<!-- FixType=ENUM::CHAR, FixField=150-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="0" description="NEW" -->
		<!-- ENUMValue="1" description="PARTIAL_FILL" -->
		<!-- ENUMValue="2" description="FILL" -->
		<!-- ENUMValue="3" description="DONE_FOR_DAY" -->
		<!-- ENUMValue="4" description="CANCELLED" -->
		<!-- ENUMValue="5" description="REPLACE" -->
		<!-- ENUMValue="6" description="PENDING_CANCEL_REPLACE" -->
		<!-- ENUMValue="7" description="STOPPED" -->
		<!-- ENUMValue="8" description="REJECTED" -->
		<!-- ENUMValue="9" description="SUSPENDED" -->
		<!-- ENUMValue="A" description="PENDING_NEW" -->
		<!-- ENUMValue="B" description="CALCULATED" -->
		<!-- ENUMValue="C" description="EXPIRED" -->
	<PitDefine key="LeavesQty" value="" />	<!-- FixType=INT, FixField=151 -->
	<PitDefine key="CashOrderQty" value="" />	<!-- FixType=FLOAT, FixField=152 -->
	<PitDefine key="AllocAvgPx" value="" />	<!-- FixType=FLOAT, FixField=153 -->
	<PitDefine key="AllocNetMoney" value="" />	<!-- FixType=FLOAT, FixField=154 -->
	<PitDefine key="SettlCurrFxRate" value="" />	<!-- FixType=FLOAT, FixField=155 -->
	<Pitdefine key="SettlCurrFxRateCalc" value="" />	<!-- FixType=ENUM::CHAR, FixField=156-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="M" description="MULTIPLY" -->
		<!-- ENUMValue="D" description="DIVIDE" -->
	<PitDefine key="NumDaysInterest" value="" />	<!-- FixType=INT, FixField=157 -->
	<PitDefine key="AccruedInterestRate" value="" />	<!-- FixType=FLOAT, FixField=158 -->
	<PitDefine key="AccruedInterestAmt" value="" />	<!-- FixType=FLOAT, FixField=159 -->
	<Pitdefine key="SettlInstMode" value="" />	<!-- FixType=ENUM::CHAR, FixField=160-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="0" description="DEFAULT" -->
		<!-- ENUMValue="1" description="STANDING_INSTRUCTIONS_PROVIDED" -->
		<!-- ENUMValue="2" description="SPECIFIC_ALLOCATION_ACCOUNT_OVERRIDING" -->
		<!-- ENUMValue="3" description="SPECIFIC_ALLOCATION_ACCOUNT_STANDING" -->
	<PitDefine key="AllocText" value="" />	<!-- FixType=CHAR, FixField=161 -->
	<PitDefine key="SettlInstID" value="" />	<!-- FixType=CHAR, FixField=162 -->
	<Pitdefine key="SettlInstTransType" value="" />	<!-- FixType=ENUM::CHAR, FixField=163-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="C" description="CANCEL" -->
		<!-- ENUMValue="N" description="NEW" -->
		<!-- ENUMValue="R" description="REPLACE" -->
	<PitDefine key="EmailThreadID" value="" />	<!-- FixType=CHAR, FixField=164 -->
	<Pitdefine key="SettlInstSource" value="" />	<!-- FixType=ENUM::CHAR, FixField=165-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="1" description="BROKERS_INSTRUCTIONS" -->
		<!-- ENUMValue="2" description="INSTITUTIONS_INSTRUCTIONS" -->
	<Pitdefine key="SettlLocation" value="" />	<!-- FixType=ENUM::CHAR, FixField=166-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="CED" description="CEDEL" -->
		<!-- ENUMValue="DTC" description="DEPOSITORY_TRUST_COMPANY" -->
		<!-- ENUMValue="EUR" description="EUROCLEAR" -->
		<!-- ENUMValue="FED" description="FEDERAL_BOOK_ENTRY" -->
		<!-- ENUMValue="ISO Country Code" description="LOCAL_MARKET_SETTLE_LOCATION" -->
		<!-- ENUMValue="PNY" description="PHYSICAL" -->
		<!-- ENUMValue="PTC" description="PARTICIPANT_TRUST_COMPANY" -->
	<Pitdefine key="SecurityType" value="" />	<!-- FixType=ENUM::CHAR, FixField=167-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="BA" description="BANKERS_ACCEPTANCE" -->
		<!-- ENUMValue="CD" description="CERTIFICATE_OF_DEPOSIT" -->
		<!-- ENUMValue="CMO" description="COLLATERALIZE_MORTGAGE_OBLIGATION" -->
		<!-- ENUMValue="CORP" description="CORPORATE_BOND" -->
		<!-- ENUMValue="CP" description="COMMERCIAL_PAPER" -->
		<!-- ENUMValue="CPP" description="CORPORATE_PRIVATE_PLACEMENT" -->
		<!-- ENUMValue="CS" description="COMMON_STOCK" -->
		<!-- ENUMValue="FHA" description="FEDERAL_HOUSING_AUTHORITY" -->
		<!-- ENUMValue="FHL" description="FEDERAL_HOME_LOAN" -->
		<!-- ENUMValue="FN" description="FEDERAL_NATIONAL_MORTGAGE_ASSOCIATION" -->
		<!-- ENUMValue="FOR" description="FOREIGN_EXCHANGE_CONTRACT" -->
		<!-- ENUMValue="FUT" description="FUTURE" -->
		<!-- ENUMValue="GN" description="GOVERNMENT_NATIONAL_MORTGAGE_ASSOCIATION" -->
		<!-- ENUMValue="GOVT" description="TREASURIES_PLUS_AGENCY_DEBENTURE" -->
		<!-- ENUMValue="MF" description="MUTUAL_FUND" -->
		<!-- ENUMValue="MIO" description="MORTGAGE_INTEREST_ONLY" -->
		<!-- ENUMValue="MPO" description="MORTGAGE_PRINCIPLE_ONLY" -->
		<!-- ENUMValue="MPP" description="MORTGAGE_PRIVATE_PLACEMENT" -->
		<!-- ENUMValue="MPT" description="MISCELLANEOUS_PASS_THRU" -->
		<!-- ENUMValue="MUNI" description="MUNICIPAL_BOND" -->
		<!-- ENUMValue="NONE" description="NO_ISITC_SECURITY_TYPE" -->
		<!-- ENUMValue="OPT" description="OPTION" -->
		<!-- ENUMValue="PS" description="PREFERRED_STOCK" -->
		<!-- ENUMValue="RP" description="REPURCHASE_AGREEMENT" -->
		<!-- ENUMValue="RVRP" description="REVERSE_REPURCHASE_AGREEMENT" -->
		<!-- ENUMValue="SL" description="STUDENT_LOAN_MARKETING_ASSOCIATION" -->
		<!-- ENUMValue="TD" description="TIME_DEPOSIT" -->
		<!-- ENUMValue="USTB" description="US_TREASURY_BILL" -->
		<!-- ENUMValue="WAR" description="WARRANT" -->
		<!-- ENUMValue="ZOO" description="CATS_TIGERS_LIONS" -->
	<PitDefine key="EffectiveTime" value="" />	<!-- FixType=TIME, FixField=168 -->
<!-- Time-only represented in UTC (Universal Time Coordinated, also known as "GMT") in either HH:MM:SS (whole seconds) or HH:MM:SS.sss (milliseconds) format, colons, and period required. This special-purpose field is paired with UTCDateOnly to form a proper UTCTimestamp for bandwidth-sensitive messages. Valid values: HH = 00-23, MM = 00-59, SS = 00-5960 (60 only if UTC leap second) (without milliseconds). HH = 00-23, MM = 00-59, SS = 00-5960 (60 only if UTC leap second), sss=000-999 (indicating milliseconds).-->
	<Pitdefine key="StandInstDbType" value="" />	<!-- FixType=ENUM::INT, FixField=169-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="0" description="OTHER" -->
		<!-- ENUMValue="1" description="DTC_SID" -->
		<!-- ENUMValue="2" description="THOMSON_ALERT" -->
		<!-- ENUMValue="3" description="A_GLOBAL_CUSTODIAN" -->
	<PitDefine key="StandInstDbName" value="" />	<!-- FixType=CHAR, FixField=170 -->
	<PitDefine key="StandInstDbID" value="" />	<!-- FixType=CHAR, FixField=171 -->
	<PitDefine key="SettlDeliveryType" value="" />	<!-- FixType=INT, FixField=172 -->
	<PitDefine key="SettlDepositoryCode" value="" />	<!-- FixType=CHAR, FixField=173 -->
	<PitDefine key="SettlBrkrCode" value="" />	<!-- FixType=CHAR, FixField=174 -->
	<PitDefine key="SettlInstCode" value="" />	<!-- FixType=CHAR, FixField=175 -->
	<PitDefine key="SecuritySettlAgentName" value="" />	<!-- FixType=CHAR, FixField=176 -->
	<PitDefine key="SecuritySettlAgentCode" value="" />	<!-- FixType=CHAR, FixField=177 -->
	<PitDefine key="SecuritySettlAgentAcctNum" value="" />	<!-- FixType=CHAR, FixField=178 -->
	<PitDefine key="SecuritySettlAgentAcctName" value="" />	<!-- FixType=CHAR, FixField=179 -->
	<PitDefine key="SecuritySettlAgentContactName" value="" />	<!-- FixType=CHAR, FixField=180 -->
	<PitDefine key="SecuritySettlAgentContactPhone" value="" />	<!-- FixType=CHAR, FixField=181 -->
	<PitDefine key="CashSettlAgentName" value="" />	<!-- FixType=CHAR, FixField=182 -->
	<PitDefine key="CashSettlAgentCode" value="" />	<!-- FixType=CHAR, FixField=183 -->
	<PitDefine key="CashSettlAgentAcctNum" value="" />	<!-- FixType=CHAR, FixField=184 -->
	<PitDefine key="CashSettlAgentAcctName" value="" />	<!-- FixType=CHAR, FixField=185 -->
	<PitDefine key="CashSettlAgentContactName" value="" />	<!-- FixType=CHAR, FixField=186 -->
	<PitDefine key="CashSettlAgentContactPhone" value="" />	<!-- FixType=CHAR, FixField=187 -->
	<PitDefine key="BidSpotRate" value="" />	<!-- FixType=FLOAT, FixField=188 -->
	<PitDefine key="BidForwardPoints" value="" />	<!-- FixType=FLOAT, FixField=189 -->
	<PitDefine key="OfferSpotRate" value="" />	<!-- FixType=FLOAT, FixField=190 -->
	<PitDefine key="OfferForwardPoints" value="" />	<!-- FixType=FLOAT, FixField=191 -->
	<PitDefine key="OrderQty2" value="" />	<!-- FixType=FLOAT, FixField=192 -->
	<PitDefine key="FutSettDate2" value="" />	<!-- FixType=DATE, FixField=193 -->
<!-- Date represented in UTC (Universal Time Coordinated, also known as "GMT") in YYYYMMDD format. This special-purpose field is paired with UTCTimeOnly to form a proper UTCTimestamp for bandwidth-sensitive messages. Valid values: YYYY = 0000-9999, MM = 01-12, DD = 01-31.-->
	<PitDefine key="LastSpotRate" value="" />	<!-- FixType=FLOAT, FixField=194 -->
	<PitDefine key="LastForwardPoints" value="" />	<!-- FixType=FLOAT, FixField=195 -->
	<PitDefine key="AllocLinkID" value="" />	<!-- FixType=CHAR, FixField=196 -->
	<Pitdefine key="AllocLinkType" value="" />	<!-- FixType=ENUM::INT, FixField=197-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="0" description="F_X_NETTING" -->
		<!-- ENUMValue="1" description="F_X_SWAP" -->
	<PitDefine key="SecondaryOrderID" value="" />	<!-- FixType=CHAR, FixField=198 -->
	<PitDefine key="NoIOIQualifiers" value="" />	<!-- FixType=INT, FixField=199 -->
	<PitDefine key="MaturityMonthYear" value="" />	<!-- FixType=MONTHYEAR, FixField=200 -->
<!-- String field representing month of a year in YYYYMM format. An optional day of the month can be appended or an optional week code. Valid formats: YYYYMM YYYYMMDD YYYYMMWW. Valid values: YYYY = 0000-9999, MM = 01-12, DD = 01-31, WW = w1, w2, w3, w4, w5. -->
	<Pitdefine key="PutOrCall" value="" />	<!-- FixType=ENUM::INT, FixField=201-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="0" description="PUT" -->
		<!-- ENUMValue="1" description="CALL" -->
	<PitDefine key="StrikePrice" value="" />	<!-- FixType=FLOAT, FixField=202 -->
	<Pitdefine key="CoveredOrUncovered" value="" />	<!-- FixType=ENUM::INT, FixField=203-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="0" description="COVERED" -->
		<!-- ENUMValue="1" description="UNCOVERED" -->
	<Pitdefine key="CustomerOrFirm" value="" />	<!-- FixType=ENUM::INT, FixField=204-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="0" description="CUSTOMER" -->
		<!-- ENUMValue="1" description="FIRM" -->
	<PitDefine key="MaturityDay" value="" />	<!-- FixType=DAYOFMONTH, FixField=205 -->
	<PitDefine key="OptAttribute" value="" />	<!-- FixType=CHAR, FixField=206 -->
	<PitDefine key="SecurityExchange" value="" />	<!-- FixType=CHAR, FixField=207 -->
	<Pitdefine key="NotifyBrokerOfCredit" value="" />	<!-- FixType=ENUM::CHAR, FixField=208-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="N" description="NO" -->
		<!-- ENUMValue="Y" description="YES" -->
	<Pitdefine key="AllocHandlInst" value="" />	<!-- FixType=ENUM::INT, FixField=209-->	<!-- For Alternative Declaration. Switch Declaration in Field Data Model to Use-->
		<!-- ENUMValue="1" description="MATCH" -->
		<!-- ENUMValue="2" description="FORWARD" -->
		<!-- ENUMValue="3" description="FORWARD_AND_MATCH" -->
	<PitDefine key="MaxShow" value="" />	<!-- FixType=INT, FixField=210 -->
	<PitDefine key="PegDifference" value="" />	<!-- FixType=FLOAT, FixField=211 -->
	</All>
</PitDefines>
